<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1 class="center">Edit Your Profile</h1>
		<p class="center">Become part of our Thriving Community</p>
		<div class="well"> 
			<%= render 'form' %>
		</div>
	</div>
</div>
