<h1> Look who is part of our Community </h1>

<div class="center">
  <div class="row">
    <% @profile.each do |profile| %>
      <div class="col-md-3">
        <div class="thumbnail">
        <!-- image now set to be a link -->
          <%= link_to image_tag(profile.image.url) %>
          <div class="caption">
            <h3><%= profile.name %></h3>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>